@import "admin/sass/index";
:host {
  &:focus {
    outline: none;
  }

}
li {
  &:not(:last-of-type) {
    margin-bottom: pxToRem(10);
  }
  overflow: hidden;
}
.nav-link {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-size: pxToRem(16);
  color: $color-text-white;
  padding: pxToRem(8) pxToRem(8) pxToRem(8) pxToRem(16);
  border-radius: pxToRem(5);
  z-index: 1020;
  position: relative;
  @include hover-focus-active {
    outline: none;
    color: $color-text-white;
    text-decoration: none;
    background-color: $color-grey-dark-2;
  }

  & > svg-icon {
    transition: transform 0.2s ease-in;
  }

  & > svg-icon:first-child {
    margin-right: pxToRem(8);
  }
  & > span {
    margin-right: pxToRem(16);
  }
  & > svg-icon:last-child {
    margin-left: auto;
  }

  &.active {
    background-color: $color-grey-dark-4;
  }

  &--toggler {
  }
}

:host ::ng-deep .inner-nav {
  position: relative;
  z-index: 1019;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: pxToRem(10) pxToRem(16);

  a {
    display: flex;
    align-items: center;
    border-radius: pxToRem(5);
    font-size: pxToRem(16);
    padding: pxToRem(5) pxToRem(8);
    color: $color-grey-light-4;
    @include hover-focus-active {
      outline: none;
      text-decoration: none;
      color: $color-text-white;
    }
    &.active {
      color: $color-text-white;
    }
    & > svg-icon:first-child {
      margin-right: pxToRem(6);
    }
  }
}
