@import "admin/sass/index";

nav {
  z-index: 1030;
  position: relative;
  display: flex;
  align-items: center;
  height: $navbar-top-height;
  background-color: $color-grey-dark-3;
  width: 100%;
  padding: 0 pxToRem(8);
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
}

#top-nav-menu {
  padding: pxToRem(8);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: pxToRem(18);
  color: $color-text-white;
  @include hover-focus-active {
    text-decoration: none;
    color: $color-white;
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.user-dropdown {
  background-color: $body-bg;
  position: absolute;
  top: calc(#{$navbar-top-height} - #{pxToRem(2)});
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: pxToRem(16);
  border: 1px solid $color-grey-light-2;
  border-radius: pxToRem(4);
  overflow: hidden;
  min-width: pxToRem(180);

  figure {
    width: 100%;
    border-bottom: 1px solid $color-grey-light-2;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: pxToRem(80);
      height: pxToRem(80);
      border-radius: pxToRem(100);
      margin-bottom: pxToRem(8);
    }
    figcaption {
      font-size: pxToRem(20);
      text-transform: capitalize;
      color: $color-primary;
      margin-bottom: pxToRem(8);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    li {
      width: 100%;
    }
  }
  .user-dropdown__link {
    display: flex;
    align-items: center;
    color: $color-grey-dark-2;
    padding: pxToRem(5) pxToRem(8);
    border-radius: pxToRem(3);
    transition: all 0.2s ease-in-out;
    @include hover-focus-active {
      background-color: $color-grey-light-2;
      padding-left: pxToRem(12);
      color: $color-grey-dark-3;
    }
    svg-icon {
      margin-right: pxToRem(5);
    }
  }
}
