@import "sass/index.scss";

:host {
  margin-top: auto;
}
.footer {
  background-color: $color-grey-dark-5;
  &__content {
    padding: pxToRem(12) pxToRem(24) pxToRem(60);
    color: $color-grey-light-3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }
  a {
    color: $color-grey-light-3;
    border-bottom: 1px dotted $color-grey-light-3;
    padding-bottom: 1px;
    @include hover-focus {
      color: $color-grey-light-2;
      border-bottom: 1px dotted $color-grey-light-2;
    }
  }
  &__cp-message {
    padding: 0;
    margin: 0;
    margin-top: pxToRem(8);
  }
  &__credits {
    margin-top: pxToRem(8);
  }
}
