<li>

    <a *ngIf="linkDestination;else dropdown" [href]="linkDestination">
        <svg-icon *ngIf="iconLeft" [icon]="iconLeft"></svg-icon>
        <span>{{ linkText }}</span>
        <svg-icon *ngIf="iconRight" [icon]="iconRight"></svg-icon>
    </a>


    <ng-template #dropdown>

        <a class="dropdown-toggler" (click)="toggleDropdown()">
            <svg-icon *ngIf="iconLeft" [icon]="iconLeft"></svg-icon>
            <span>{{ linkText }}</span>
            <svg-icon *ngIf="iconRight" [icon]="iconRight"></svg-icon>
        </a>

        <div @insertRemoveDropdown *ngIf="isDropdownOpen">
            <ng-content></ng-content>
        </div>

    </ng-template>

</li>