<aside [@slideInOut]="innerWidth >= 768 ? 'fixed' : sideNavVisible ? 'in' : 'out'">
    <nav>
        <ul>
            <admin-side-nav-item routeDestination="dashboard" toggler iconLeft="home" linkText="Dashboard">
                <a href="#" class="">Graph</a>
                <a href="#" class="active">Data</a>
                <a href="#" class="">Stats</a>
            </admin-side-nav-item>

            <admin-side-nav-item toggler iconLeft="edit" linkText="posts">
                <a routerLink="editor/post" class="">New</a>
                <a routerLinkActive="active" routerLink="posts" class="">All</a>
                <a routerLinkActive="active" routerLink="posts" [queryParams]="{type: 'published'}">Published</a>
                <a routerLinkActive="active" routerLink="posts" [queryParams]="{type: 'draft'}">Draft</a>
            </admin-side-nav-item>
            <admin-side-nav-item iconLeft="comment" linkText="comments"></admin-side-nav-item>
            <admin-side-nav-item iconLeft="user" linkText="user"></admin-side-nav-item>
            <admin-side-nav-item iconLeft="settings" linkText="settings"></admin-side-nav-item>

        </ul>
    </nav>
</aside>