<div class="container-xl">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <main class="">
        <article *ngFor="let post of posts" class="post-card">

          <a *ngIf="post.featured_image" routerLink="/{{post.slug}}" class="post-card__image-link">
            <img src="{{apiUrl + '/' + post.featured_image}}" class="post-card__image img-fluid">
          </a>
          <div class="post-card__content">
            <a routerLink="/{{post.slug}}" class="post-card__content-link">
              <header class="post-card__header">
                <div *ngIf="post.first_tag" class="post-card__tag">
                  {{ post.first_tag.name }}
                </div>
                <h2 class="post-card__title">
                  {{ post.title }}
                </h2>
              </header>
              <section class="post-card__excerpt">
                <p>
                  {{ post.custom_excerpt }}
                </p>
              </section>
            </a>
            <footer class="post-card__meta">
              <div class="post-card__author-image">
                <a routerLink="/author/{{post.author.slug}}">
                  <img [ngStyle]="{'opacity': '.5'}" src="assets/img/user.png" alt="" class="img-fluid">
                </a>
              </div>
              <div>
                <span>
                  <a routerLink="/author/{{post.author.slug}}">{{post.author.name}}</a></span>
                <span>
                  <time [dateTime]="post.published_at">{{post.published_at | date}}</time>
                </span>

              </div>
            </footer>
          </div>

        </article>
        
      </main>
    </div>
  </div>
</div>