<div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <main class="">
          <article tabindex="0" *ngFor="let post of posts | paginate : {
            itemsPerPage: 10,
            currentPage: page,
            totalItems: count
          }" class="post-card">
            
            <div class="post-card__content">
              <a href="/{{post.slug}}" class="post-card__content-link">
                <header class="post-card__header">
                  <div *ngIf="post.tags.length > 0" class="post-card__tag">
                    {{ post.tags[0].name }}
                  </div>
                  <h2 class="post-card__title">
                    {{ post.title }}
                  </h2>
                </header>
                <section class="post-card__excerpt">
                  <p>
                    {{ post.custom_excerpt }}
                  </p>
                </section>
              </a>
              <footer class="post-card__meta">
                <div class="post-card__author-image">
                  <a href="#">
                    <img [ngStyle]="{'opacity': '.5'}" src="assets/img/user.png" alt="" class="img-fluid ">
                  </a>
                </div>
                <div>
                  <span>
                    <a href="#">{{post.author.name}}</a></span>
                  <span>
                    <time [dateTime]="post.published_at">{{post.published_at | date}}</time>
                  </span>
  
                </div>
              </footer>
            </div>
            <a *ngIf="post.featured_image" [href]="'/' + post.slug" class="post-card__image-link">
              <img src="{{apiUrl + '/' + post.featured_image}}" class="post-card__image img-fluid">
            </a>
          </article>
          <div class="d-flex justify-content-center my-5 align-items-center">
            <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next"
                (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
          <!-- <div class="load-more py-4 mt-3 d-flex justify-content-center align-items-center">
            <button class="btn btn-primary d-inline-flex align-items-center justify-content-center" type="button">Load
              more
              <svg-icon icon="refresh" class="ml-1"></svg-icon>
            </button>
          </div> -->
        </main>
      </div>
    </div>
  </div>