<header>
    <nav class="top-navbar navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a (click)="toggleSideNav()" id="side-nav-collapse" class="nav-link hamburger-icon"><i
                        class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-external-link-alt nav-icon-mr"></i>Visit
                    Site</a></li>
        </ul>
        <ul class="ml-auto navbar-nav flex-row">
            <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-user nav-icon-mr"></i>Ali
                    Raza</a>
            </li>
        </ul>
    </nav>
</header>

<div [ngStyle]="{'display': sideNavVisible === true ? 'block' : sideNavVisible === false ? 'none' : null}"  class="side-navbar">
    <nav class="nav flex-column mb-0">

        <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: 'true'}" class="nav-link"><i
                class="fas fa-fw fa-tachometer-alt mr-2"></i>Dashboard</a>
        <a [routerLink]="['/admin/posts']" routerLinkActive="active" class="nav-link"><i
                class="fas fa-fw fa-file mr-2"></i>Posts</a>
        <a class="nav-link"><i class="fas fa-fw fa-comment mr-2"></i>Comments</a>
        <a class="nav-link"><i class="fas fa-fw fa-users mr-2"></i>Users</a>
        <a class="nav-link"><i class="fas fa-fw fa-cog mr-2"></i>Settings</a>
    </nav>
</div>

<div [ngClass]="{'p-side-nav': sideNavVisible}" id="admin-wrapper">
    <section id="main">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>