<header class="header-top">
  <div class="container-xl">
    <div class="row">
      <div class="col-sm-12">
        <nav class="top-nav">
          <a class="top-nav__brand" href="#">Blog</a>

          <ul class="top-nav__list mr-auto">
            <li class="top-nav__item">
              <a class="top-nav__link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="top-nav__item">
              <a class="top-nav__link" href="#">Link</a>
            </li>
            <li class="top-nav__item">
              <a class="top-nav__link" href="#">Test</a>
            </li>
            <li class="top-nav__item">
              <a class="top-nav__link" href="#">Third</a>
            </li>
          </ul>
          <ul class="top-nav__list">
            <li class="top-nav__item">
              <a href="#" class="top-nav__link">
                <svg-icon icon="search" class="mr-1"></svg-icon> Search
              </a>
            </li>
          </ul>
          <a class="btn btn-sm btn-outline-primary ml-2" href="/admin">CPanel</a>
        </nav>
      </div>
      <div class="col-sm-12">
        <div class="top-tags">
          <div class="top-tags__list">
            <a href="#" class="top-tags__link">Life</a>
            <a href="#" class="top-tags__link">Gender</a>
            <a href="#" class="top-tags__link">Racism</a>
            <a href="#" class="top-tags__link">Programming</a>
            <a href="#" class="top-tags__link">Angular</a>
            <a href="#" class="top-tags__link">React</a>
            <a href="#" class="top-tags__link">Philosophy</a>
            <a href="#" class="top-tags__link">Love</a>
            <a href="#" class="top-tags__link">Write Ups</a>
            <a href="#" class="top-tags__link">Angular</a>
            <a href="#" class="top-tags__link">React</a>
            <a href="#" class="top-tags__link">Philosophy</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>

<router-outlet></router-outlet>
  <!-- <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-9">
      <main class="py-5">
        <article tabindex="0" *ngFor="let post of posts" class="post-card">
          <a *ngIf="post.featured_image" [href]="'/' + post.slug" class="post-card__image-link">
            <img src="{{apiUrl + '/' + post.featured_image}}" class="post-card__image img-fluid">
          </a>
          <div class="post-card__content">
            <a href="/{{post.slug}}" class="post-card__content-link">
              <header class="post-card__header">
                <div *ngIf="post.tags.length > 0" class="post-card__tag">
                  {{ post.tags[0].name }}
                </div>
                <h2 class="post-card__title">
                  {{ post.title }}
                </h2>
              </header>
              <section class="post-card__excerpt">
                <p>
                  {{ post.custom_excerpt }}
                </p>
              </section>
            </a>
            <footer class="post-card__meta">
              <div class="post-card__author-image">
                <a href="#">
                  <img [ngStyle]="{'opacity': '.5'}" src="assets/img/user.png" alt="" class="img-fluid ">
                </a>
              </div>
              <div>
                <span>
                  <a href="#">{{post.author.name}}</a></span>
                <span>
                  <time [dateTime]="post.published_at">{{post.published_at | date}}</time>
                </span>

              </div>
            </footer>
          </div>
        </article>
        <div class="load-more py-4 mt-3 d-flex justify-content-center align-items-center">
          <button class="btn btn-primary d-inline-flex align-items-center justify-content-center" type="button">Load more
            <svg-icon icon="refresh" class="ml-1"></svg-icon></button>
        </div>
      </main>
    </div>
    <div class="col-sm-10 col-lg-3 mt-5 mt-lg-0">
      <aside class="sidebar py-5">
        <div class="sidebar-widget featured-post-widget">
          <div class="sidebar-widget__titlebar">
            <h3>Featured Posts</h3>
          </div>
          <a *ngFor="let post of posts;index as i" href="#" class="featured-post">
            <article class="featured-post__content">
              <h3 class="featured-post__title">{{post.title}}</h3>
              <time [dateTime]="post.published_at" class="d-none">{{post.published_at | date}}</time>
            </article>
            <div *ngIf="post.featured_image" class="featured-post__image">
              <img [src]="apiUrl + '/' + post.featured_image" alt="">
            </div>
          </a>
        </div>
      </aside>
    </div>
  </div> -->

<footer class="footer">
  <div class="container-xl">
    <div class="footer__content">
      <p class="footer__cp-message"><a href="#">Write it Down</a> &copy; 2021</p>
      <div class="footer__credits">
        Built with ❤️ by <a href="#">Ali Raza</a>.
      </div>
    </div>
  </div>
</footer>