<header class="header-top">
  <div class="container-xl">
    <div class="row">
      <div class="col-sm-12">
        <nav class="top-nav">
          <a class="top-nav__brand" href="#">Blog</a>

          <ul class="top-nav__list mr-auto">
            <li class="top-nav__item">
              <a class="top-nav__link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="top-nav__item">
              <a class="top-nav__link" href="#">Link</a>
            </li>
            <li class="top-nav__item">
              <a class="top-nav__link" href="#">Test</a>
            </li>
            <li class="top-nav__item">
              <a class="top-nav__link" href="#">Third</a>
            </li>
          </ul>
          <ul class="top-nav__list">
            <li class="top-nav__item">
              <a href="#" class="top-nav__link">
                <svg-icon icon="search" class="mr-1"></svg-icon> Search
              </a>
            </li>
            <a class="btn btn-sm btn-outline-primary" href="#">CPanel</a>
          </ul>
        </nav>
      </div>
      <div class="col-sm-12">
        <div class="top-tags">
          <div class="top-tags__list">
            <a href="#" class="top-tags__link">Life</a>
            <a href="#" class="top-tags__link">Gender</a>
            <a href="#" class="top-tags__link">Racism</a>
            <a href="#" class="top-tags__link">Programming</a>
            <a href="#" class="top-tags__link">Angular</a>
            <a href="#" class="top-tags__link">React</a>
            <a href="#" class="top-tags__link">Philosophy</a>
            <a href="#" class="top-tags__link">Love</a>
            <a href="#" class="top-tags__link">Write Ups</a>
            <a href="#" class="top-tags__link">Angular</a>
            <a href="#" class="top-tags__link">React</a>
            <a href="#" class="top-tags__link">Philosophy</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>