@import "sass/index";

:host {
  display: block;
  min-height: 100vh;
  background-color: $color-grey-light-1;
}

.header-top {
  background-color: $color-white;
  box-shadow: 0 pxToRem(4) pxToRem(12) rgba(0, 0, 0, 0.04);
}

.top-nav {
  display: flex;
  align-items: center;
  padding: pxToRem(24) pxToRem(24) 0;
  flex-wrap: wrap;

  &__brand {
    color: $color-primary;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: pxToRem(24);
    font-size: pxToRem(28);
    font-weight: 300;
    transition: color 0.2s ease;
    @include hover-focus-active {
      color: $color-primary-dark;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
  }

  &__link {
    font-weight: 500;
    font-size: pxToRem(16);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $color-primary-light;
    padding: pxToRem(8) pxToRem(16);
    transition: color 0.2s ease;
    @include hover-focus-active {
      color: $color-primary-dark;
    }
  }
}

.top-tags {
  padding: pxToRem(20) pxToRem(24) pxToRem(4);
  &__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: scroll;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  &__link {
    white-space: nowrap;
    font-weight: 500;
    font-size: pxToRem(15);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $color-grey-dark-1;
    padding: pxToRem(8) 0;
    &:not(:last-child) {
      margin-right: pxToRem(32);
    }
    transition: color 0.2s ease;
    @include hover-focus-active {
      color: $color-grey-dark-3;
    }
  }
}

// .sidebar-widget {
//   margin-bottom: pxToRem(32);
//   &__titlebar {
//     h3 {
//       font-size: 12px;
//       text-transform: uppercase;
//       color: $color-grey-dark-3;
//       padding-bottom: pxToRem(8);
//       margin: 0;
//     }
//     border-bottom: pxToRem(0.5) solid rgba($color-grey-light-2, 1);
//     margin-bottom: 24px;
//   }
// }

// .featured-post {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: pxToRem(24);
//   margin: 0 0 pxToRem(24);
//   color: $color-grey-dark-3;
//   background-color: $color-white;
//   border: pxToRem(0.5) solid rgba($color-grey-light-2, 0.5);
//   @include hover-focus {
//     text-decoration: underline;
//   }
//   &__title {
//     padding: 0;
//     margin: 0;
//     font-size: pxToRem(16);
//   }
//   &__image {
//     margin-left: pxToRem(8);
//     img {
//       height: pxToRem(52);
//       width: pxToRem(68);
//       object-fit: cover;
//       border-radius: pxToRem(2);
//     }
//   }
// }

.footer {
  background-color: $color-grey-dark-5;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: pxToRem(20) 0 pxToRem(60);
    color: $color-grey-light-3;
  }
  a {
    color: $color-grey-light-3;
    @include hover-focus {
      color: $color-grey-light-1;
      text-decoration: underline;
    }
  }
  &__cp-message {
    padding: 0;
    margin: 0;
  }
  &__credits {
  }
}
