@import "sass/index";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-grey-light-1;
}

.header-top {
  position: relative;
  background-color: $color-white;
  box-shadow: 0 pxToRem(4) pxToRem(12) rgba(0, 0, 0, 0.04);
  z-index: 1030;
}

.top-nav {
  display: flex;
  align-items: center;
  padding: pxToRem(24) pxToRem(54) 0 pxToRem(24);
  @include media-breakpoint-up(md) {
    padding: pxToRem(24) pxToRem(24) 0;
  }
  position: relative;

  &__brand {
    color: $color-primary;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: pxToRem(24);
    font-size: pxToRem(28);
    font-weight: 300;
    font-family: "Nunito", sans-serif;
    transition: color 0.2s ease;
    @include hover-focus-active {
      color: $color-primary-dark;
    }
  }

  &__res-list-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    height: 100%;
    width: 100%;
    background-color: $color-grey-light-1;
    display: flex;
    justify-content: center;
    padding-top: pxToRem(100);
    @include media-breakpoint-up(md) {
      position: initial;
      background-color: transparent;
      padding-top: 0;
      height: auto;
      width: auto;
      margin-right: auto;
    }
  }
  &__res-list-wrapper &__list {
    flex-direction: column;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__res-list-wrapper &__link {
    font-size: pxToRem(24);
    font-weight: 300;
    @include media-breakpoint-up(md) {
      font-size: pxToRem(16);
      font-weight: 400;
    }
  }

  &__res-list-toggler {
    @include media-breakpoint-up(md) {
      display: none;
    }
    position: absolute;
    right: pxToRem(16);
    height: pxToRem(20);
    width: pxToRem(24);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $color-primary;
    cursor: pointer;

    @include hover-focus-active {
      color: $color-primary-dark;
    }

    z-index: 1031;
  }
  &__res-list-toggler-icon {
    &,
    &::before,
    &::after {
      display: inline-flex;
      align-items: center;
      content: "";
      width: pxToRem(24);
      height: pxToRem(1);
      background-color: $color-primary;
      visibility: visible;
    }

    position: relative;

    &::before {
      position: absolute;
      right: 0;
      bottom: pxToRem(7);
    }
    &::after {
      position: absolute;
      right: 0;
      top: pxToRem(7);
    }

    &--cross {
      visibility: hidden;
      &::before {
        bottom: 0;
        transform: rotate(-45deg);
      }
      &::after {
        top: 0;
        transform: rotate(45deg);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
  }

  &__link {
    font-weight: 400;
    font-size: pxToRem(16);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $color-primary;
    padding: pxToRem(8) pxToRem(16);
    @include hover-focus-active {
      color: $color-primary-dark;
      text-decoration: underline;
    }
  }
}

.top-tags {
  padding: pxToRem(20) pxToRem(24) pxToRem(4);
  &__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: scroll;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  &__link {
    white-space: nowrap;
    font-weight: 500;
    font-size: pxToRem(15);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $color-grey-dark-1;
    padding: pxToRem(8) 0;
    &:not(:last-child) {
      margin-right: pxToRem(32);
    }
    @include hover-focus-active {
      color: $color-grey-dark-3;
    }
  }
}

// .sidebar-widget {
//   margin-bottom: pxToRem(32);
//   &__titlebar {
//     h3 {
//       font-size: 12px;
//       text-transform: uppercase;
//       color: $color-grey-dark-3;
//       padding-bottom: pxToRem(8);
//       margin: 0;
//     }
//     border-bottom: pxToRem(0.5) solid rgba($color-grey-light-2, 1);
//     margin-bottom: 24px;
//   }
// }

// .featured-post {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: pxToRem(24);
//   margin: 0 0 pxToRem(24);
//   color: $color-grey-dark-3;
//   background-color: $color-white;
//   border: pxToRem(0.5) solid rgba($color-grey-light-2, 0.5);
//   @include hover-focus {
//     text-decoration: underline;
//   }
//   &__title {
//     padding: 0;
//     margin: 0;
//     font-size: pxToRem(16);
//   }
//   &__image {
//     margin-left: pxToRem(8);
//     img {
//       height: pxToRem(52);
//       width: pxToRem(68);
//       object-fit: cover;
//       border-radius: pxToRem(2);
//     }
//   }
// }

.footer {
  margin-top: auto;
  background-color: $color-grey-dark-5;
  &__content {
    padding: pxToRem(20) pxToRem(24) pxToRem(60);
    color: $color-grey-light-3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

  }
  a {
    color: $color-grey-light-3;
    @include hover-focus {
      color: $color-grey-light-1;
      text-decoration: underline;
    }
  }
  &__cp-message {
    padding: 0;
    margin: 0;
    margin-top: pxToRem(8);
  }
  &__credits {
    margin-top: pxToRem(8);
  }
}
