@mixin hover() {
  &:hover {
    @content;
  }
}

@mixin hover-focus() {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin plain-hover-focus() {
  &,
  &:hover,
  &:focus {
    @content;
  }
}

@mixin hover-focus-active() {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin blog-post() {
  & {
    color: $color-grey-dark-4;
  }
  p {
    font-size: pxToRem(20);
    font-family: "Lora", serif;
    line-height: 1.6;
    padding: 0;
    margin: 0 0 pxToRem(32);
  }

  ul,
  ol {
    margin: 0 0 pxToRem(30);
    padding: 0 pxToRem(30) 0 pxToRem(26);
    li {
      margin: pxToRem(10) 0;
      padding: 0 0 0 pxToRem(6);
      font-size: pxToRem(20);
      font-family: "Lora", serif;
      line-height: 1.6;
    }
    li::marker {
      
    }
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
  

  blockquote {
    font-size: pxToRem(20);
    font-family: "Lora", serif;
    line-height: 1.6;
    margin: 0 0 pxToRem(30);
    padding: 0 pxToRem(24);
    border-left: pxToRem(3) solid $color-primary;
    p {
      margin: 0;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    margin: pxToRem(42) 0;
  }

  h2 {
    line-height: 1.25;
    color: $color-grey-dark-4;
    font-size: pxToRem(32);
    padding: 0;
    margin: pxToRem(25.6) 0 pxToRem(12.8);
  }
  h3 {
    line-height: 1.25;
    color: $color-grey-dark-4;
    font-size: pxToRem(25);
    padding: 0;
    margin: pxToRem(12.5) 0 pxToRem(5);
  }
}
