// COLORS

$color-primary: #0984e3;
$color-primary-light: #1895f6;
$color-primary-dark: #0871c2;

$color-grey-light-1: #f4f7f8;
$color-grey-light-2: #e2e7eb;
$color-grey-light-3: #cad1d6;
$color-grey-light-4: #acb3b8;

$color-grey-dark-1: #747d85;
$color-grey-dark-2: #525c64;
$color-grey-dark-3: #31373b;
$color-grey-dark-4: #1f2327;
$color-grey-dark-5: #111316;

$color-text-black: $color-grey-dark-3;
$color-text-white: $color-grey-light-2;
$body-bg: #fbfbfb;

$color-white: #fff;
$color-black: #000;


