<nav id="editor-top-nav" class="navbar navbar-expand">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link posts-link" href="#">
                <svg-icon icon="chevron-left" class="mr-1"></svg-icon>Posts
            </a>
        </li>
        <li class="nav-item">
            <span class="navbar-text">
                New Post
            </span>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Publish</a>
        </li>
        <li class="nav-item">
            <button class="nav-link btn settings-btn" (click)="toggleSideNav()">
                <svg-icon icon="settings"></svg-icon>
            </button>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="post col-md-10 col-lg-8 my-5 py-5">
            <div class="post__form">
                <form [formGroup]="postForm">
                    <div class="post__title">
                        <input placeholder="Post Title" class="post__title-input" formControlName="title">
                    </div>
                    <div class="post__text">
                        <editor [init]="tinymceInit" formControlName="html"></editor>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<aside class="sidebar" @slideInOut *ngIf="isSideNavOpen">
    <div class="sidebar__top-intro">
        <h4 class="sidebar__top-intro-heading">Post Settings</h4>
        <button class="sidebar__close-button btn" (click)="toggleSideNav()">
            <svg-icon icon="close"></svg-icon>
        </button>
    </div>
    <div class="sidebar__form">
        <form [formGroup]="postForm">
            <div class="form-group">
                <label for="post-featured-image">Featured Image</label>
                <input type="file" id="post-featured-image" class="form-control-file" formControlName="featuredImage">
            </div>
            <div class="form-group">
                <label for="post-url">URL</label>
                <input type="text" id="post-url" class="form-control" formControlName="slug">
            </div>
            <div class="form-group">
                <label for="post-tags">Tags</label>
                <ng-select  [items]="tags" [multiple]="true" [addTag]="createTag()" bindLabel="name" bindValue="slug" formControlName="tags">
                </ng-select>

            </div>
            <div class="form-group">
                <label for="post-excerpt">Custom Excerpt</label>
                <textarea rows="3" type="text" id="post-excerpt" class="form-control"
                    formControlName="customExcerpt"></textarea>
            </div>
            <div class="form-group">
                <label for="post-meta-title">Meta Title</label>
                <input type="text" id="post-meta-title" class="form-control" formControlName="metaTitle">
            </div>
            <div class="form-group">
                <label for="post-meta-description">Meta Description</label>
                <textarea rows="3" type="text" id="post-meta-description" class="form-control"
                    formControlName="metaDescription"></textarea>
            </div>
            <div class="form-check">
                <input type="checkbox" id="post-featured" class="form-check-input" formControlName="featured">
                <label for="post-featured" class="form-check-label">Feature this post</label>
            </div>
        </form>
    </div>
    <div class="sidebar__delete-post">
        <button class="btn btn-outline-danger sidebar__delete-post-btn">
            <svg-icon icon="trash"></svg-icon>
            <span>Delete Post</span>
        </button>
    </div>
</aside>