@import "admin/sass/index";

:host ::ng-deep editor {
  .tox-tinymce {
    border: none;
  }
}

.post-title-box {
  margin: 0 pxToRem(16) pxToRem(32);
  .post-title {
    color: $color-text-black;
    width: 100%;
    border: none;
    background: transparent;
    font-size: pxToRem(32);
    background-attachment: scroll;
    @include hover-focus-active {
      outline: none;
    }
  }
}

nav#editor-top-nav {
  z-index: 1030;
  .nav-link {
    height: 100%;
    padding: pxToRem(8) pxToRem(16);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: pxToRem(14);
    @include plain-hover-focus {
      color: $color-primary;
    }
    svg-icon {
      font-size: pxToRem(16);
    }
  }

  .posts-link {
    border-right: 1px solid $color-grey-light-3;
  }

  .navbar-text {
    padding: pxToRem(8) pxToRem(16);
    font-size: pxToRem(14);
    color: $color-grey-dark-1;
  }

  .settings-btn {
    font-size: 16px;
    @include plain-hover-focus {
      color: $color-grey-dark-1;
    }
    svg-icon {
      transition: transform 0.2s;
    }
    &:hover svg-icon,
    &:active svg-icon,
    &:focus svg-icon {
      transform: rotate(90deg);
    }
  }
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1030;
  width: pxToRem(300);
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-grey-light-1;
  color: $color-text-black;
  // box-shadow: pxToRem(0) 0 pxToRem(10) rgba($color-black, 0.2);
  border-left: 1px solid $color-grey-light-2;
  &__top-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: pxToRem(16);
  }
  &__top-intro-heading {
    font-size: pxToRem(20);
    margin: 0;
  }
  &__close-button {
    padding: 0;
    font-size: pxToRem(13);
  }
}
