@import "sass/index";

:host {
  display: block;
  min-height: 100vh;
  background-color: $color-grey-light-1;
}

:host ::ng-deep {
  // .tox-tinymce {
  //   border: none;
  //   overflow-x: hidden;
  // }
  // .tox-edit-area__iframe#tinymce {
  //   overflow: hidden;
  // }
  editor {
    #tinymce-editor {
      &:focus {
        outline: none;
      }
    }
    @include blog-post;
  }
  .ng-select .ng-select-container {
    background-color: $color-white;
    border: pxToRem(0.5) solid $color-grey-light-2;
  }
  .ng-select .ng-dropdown-panel {
    background-color: $color-white;
    border: pxToRem(0.5) solid $color-grey-light-2;
  }
}

.post {
  display: flex;
  justify-content: center;
  &__title {
    margin: 0 0 pxToRem(48);
  }
  &__title-input {
    color: $color-text-black;
    width: 100%;
    border: none;
    background: transparent;
    font-size: pxToRem(48);
    font-weight: 500;
    background-attachment: scroll;
    @include hover-focus-active {
      outline: none;
    }
  }

  &__form {
    max-width: pxToRem(700);
  }
}

nav#editor-top-nav {
  background-color: $color-white;
  box-shadow: 0 pxToRem(4) pxToRem(12) rgba($color-grey-dark-5, 0.04);
  z-index: 1030;
  .nav-link {
    height: 100%;
    padding: pxToRem(8) pxToRem(16);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: pxToRem(14);
    @include plain-hover-focus {
      color: $color-primary;
    }
    svg-icon {
      font-size: pxToRem(16);
    }
  }

  .posts-link {
    border-right: 1px solid $color-grey-light-3;
  }

  .navbar-text {
    padding: pxToRem(8) pxToRem(16);
    font-size: pxToRem(14);
    color: $color-grey-dark-1;
  }

  .submit-toggle {
    position: relative;
    &__content {
      background-color: $body-bg;
      position: absolute;
      top: pxToRem(42);
      right: 0;
      transform: translateX(pxToRem(8));
      padding: pxToRem(16);
      border: 1px solid $color-grey-light-2;
      border-radius: pxToRem(4);
      overflow: hidden;
      min-width: pxToRem(190);
    }
  }

  .settings-btn {
    font-size: 16px;
    @include plain-hover-focus {
      color: $color-grey-dark-1;
    }
    svg-icon {
      transition: transform 0.2s;
    }
    &:hover svg-icon,
    &:active svg-icon,
    &:focus svg-icon {
      transform: rotate(90deg);
    }
  }
}

.sidebar {
  box-shadow: 0 0 pxToRem(8) rgba($color-grey-dark-5, 0.04);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;
  width: pxToRem(350);
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: $color-grey-light-1;
  color: $color-text-black;
  border-left: 1px solid $color-grey-light-2;
  &__top-intro {
    padding: pxToRem(16) pxToRem(24);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top-intro-heading {
    font-size: pxToRem(18);
    margin: 0;
  }
  &__close-button {
    padding: 0;
    font-size: pxToRem(13);
  }

  &__form {
    padding: 0 pxToRem(24);
    margin-top: pxToRem(16);
    input:not([type="file"]),
    textarea {
      background-color: $color-white;
      border: pxToRem(0.5) solid $color-grey-light-2;
    }
  }

  &__delete-post {
    padding: pxToRem(16) pxToRem(24);
    margin-top: auto;
    padding-top: pxToRem(32);
  }
  &__delete-post-btn {
    display: inline-flex;
    align-items: center;
    svg-icon {
      margin-right: pxToRem(5);
    }
  }
}
